# --- Flask Core ---
SECRET_KEY=
FLASK_ENV=development

# --- Database ---
DATABASE_URL=
DB_USER=
DB_PASS=
DB_HOST=
DB_NAME=

# --- JWT ---
JWT_SECRET_KEY=

# --- Celery ---
CELERY_BROKER_URL=redis://localhost:6379/0
CELERY_RESULT_BACKEND=redis://localhost:6379/0
REDIS_URL=

# --- AWS S3 ---
AWS_S3_BUCKET_NAME=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

# --- Email ---
RESEND_API_KEY=

# --- Midtrans ---
MIDTRANS_SERVER_KEY=
MIDTRANS_CLIENT_KEY=
MIDTRANS_IS_PRODUCTION=False

# --- Other ---
LIMIT_DAILY=20
PREMIUM_PRICE=10

# --- MLflow (DagsHub) ---
MLFLOW_TRACKING_URI=https://dagshub.com/theofrolicdean/Detectify-ML-Model.mlflow
MLFLOW_TRACKING_USERNAME=theofrolicdean
MLFLOW_TRACKING_PASSWORD=efcef74ceffc763f3fab9c5e166fb50ea5e49444
