# File Rahasia 
.env

# file testing
requests.http

# Virtual Environment & Dependencies
venv/
__pycache__/
*.pyc

# IDE Settings
.vscode/
.idea/

# Database Lokal
*.db
*.sqlite3
migrations/

# File Sampah Sistem
.DS_Store
Thumbs.db

# testing
tests/
instance/
test_detectify.sqlite
.pytest_cache
pytest.ini
run_benchmark.py


# Ignore all ML models and vectorizers
celery_worker/assets/models/
*.pth
*.pkl
*.d2v
*.npy
*.h5
*.fig
inject_premium.py
check_mlflow_connection.py