# File Rahasia 
.env

# file testing
requests.http

# Virtual Environment & Dependencies
venv/
__pycache__/
*.pyc

# IDE Settings
.vscode/
.idea/

# Database Lokal
*.db
*.sqlite3
migrations/

# File Sampah Sistem
.DS_Store
Thumbs.db

# testing
tests/
instance/
test_detectify.sqlite

