flask
flask-cors
flask-sqlalchemy
flask-migrate
flask-jwt-extended
flask-mail
python-dotenv
psycopg2-binary
gunicorn
bcrypt
celery
redis
numpy
pandas
scikit-learn
xgboost
joblib
librosa
soundfile
scipy
torch --index-url https://download.pytorch.org/whl/cpu
torchaudio --index-url https://download.pytorch.org/whl/cpu
torchvision --index-url https://download.pytorch.org/whl/cpu
timm
boto3
botocore
requests
pillow
python-docx
PyPDF2
midtransclient